$primary:#4A4E5D ;
$active: #333;//高亮字体颜色 
$fontActive: #1771ED;
$nav-bg:#fff;
$bg:#fff;
$bodybg2:#F7F9FC;
$bodybg:#fff;
$white:#fff;
$btnDefalutBg: #1771ED;
$btnFontColor: #fff;
$color1:#97A2AF;//普通字体颜色
$color2:#333333;
$color3:#515871;
$color4:#CCD0D3;
$bg2:rgba(50,54,69,0.6);
$border:#D2D2D2;
$border3:#000000;
$border2:#141714;//普通模块背景
$bg3:rgba(0,0,0,0.3);
$bg4:rgba(0,0,0,0.5);
$bg5:rgba(50,54,69,0.8);
$bg6:rgba(0,194,143,0.1);
$bg7:rgba(23,27,41,0.2);
$up:#FF615D;
$down:#00FF00;
$black:#000000;

